@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 20px 30px;
    background-color: #07090e;
    color: #fff;
}

body>h1 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.upload-container,
.color-container {
    background-color: #18181b;
    padding: 30px;
    border-radius: 10px;
    width: 35%;
}

.upload-container h3 {
    margin-bottom: 24px;
}

button {
    padding: 8px 14px;
    color: #fff;
    background-color: #27292e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #d5524e;
}

.upload-container .buttons {
    display: flex;
    gap: 10px;
}

.upload-container img {
    width: 100%;
    height: 448px;
    object-fit: cover;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}

.color-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-container h3 {
    margin-bottom: 20px;
}



.tags-container {
    margin-top: 20px;
    background-color: #18181b;
    padding: 30px;
    border-radius: 10px;
}

.tags-container{
    margin-bottom: 30px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content{
    background-color: #333;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.toast{
    visibility: hidden;
    max-width: 300px;
    background-color: #d5524e;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}